.gradient-background {
  background: linear-gradient(300deg, #b93b00, #DC5F00, #ff6f00);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.intro {
  margin-left: 15px;
  margin-right: 15px;
}

#milkshake {
  text-align: center;
  height: 200px;
}

.tea {
  padding: 15px;
  color: #EEEEEE;
}

.icecream {
  background-color: #686D76;
  height: 350px;
  text-align: center;
}

.chips {
  color: #373A40;
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pfp {
  border-radius: 5%;
  margin-top: 50px;
  margin-bottom: 25px;
}

.gaming {
  background-color: #373A40;
 padding-top: 50px;
 padding-bottom: 50px;
}

.gameheader {
  color: #16171a;
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.gameheader {
  padding-bottom: 2rem;
}

.card-body {
  background-color: #EEEEEE; 
}

.cheeseburger {
background-color: red;
}

.fries {
  background-color: #16171a;
  padding-top: px;
  height: 70px;
}

.item {
  padding: 15px;
}

.lad {
  color: #DC5F00;
  text-decoration: none;
}